<div class="page-header">
  <%= link_to new_picture_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Refresh Images
  <% end %>
  <h1>Trending Pictures</h1>
  <br>
  <br>
  <!-- Caption: <%= @picture["data"][0]["caption"]["text"] %>
</div>
<% @picture["data"].each do |each_picture| %>
<%= image_tag each_picture["images"]["standard_resolution"]["url"] %>
<% end %> -->

<div class="grid">
  <div class="grid-sizer"></div>
    <% @picture["data"].each do |each_picture| %>
      <% if each_picture["type"] == "image" %>
        <div class="grid-item">
          <%= link_to image_tag each_picture["images"]["standard_resolution"]["url"], :popup => true %>
        </div>
      <% elsif each_picture["type"] == "video" %>
        <div class="grid-item">
          <%= video_tag each_picture["videos"]["low_resolution"]["url"], :size => "350x350", :controls => true %>
        </div>
        <% end %>
    <% end %>
</div>
