<body class="unique">
    <%= link_to media_path, class: 'btn btn-info' do %>
      <span class=""></span>
      See What's Trending
    <% end %>
    <h1>Your saved Keeps</h1>
    <hr>
  </div>
       
        <!-- <div class="col-lg-12"> -->
        <% @pictures.map do |picture| %>
                <% if picture.media_type == 'image' %>
                <div class="col-lg-4">
                <% picture.url_link %><%= image_tag picture.url_link %>
                <div class="btn btn-success"><%= link_to 'view image', picture %></div>
                <div class="btn btn-danger"><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                </div>
                <% else %>
                <div class="col-lg-4">
                <% picture.url_link %><%= video_tag picture.url_link, :controls => true %>
                <div class="btn btn-success"><%= link_to 'view image', picture %></div>
                <div class="btn btn-danger"><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                </div>
                <% end %></div>
                <!-- belong -->
        <% end %>
</body>

