<body class="unique">
  <div class="page-header">
    <%= link_to media_path, class: 'btn btn-default' do %>
      <span class=""></span>
      Back
    <% end %>
    <h1>New picture</h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div>
        <% if $response["data"][(params[:id].to_i)]["type"] == "image" %>
          <%= image_tag $response["data"][(params[:id].to_i)]["images"]["standard_resolution"]["url"] %>
        <%elsif $response["data"][(params[:id].to_i)]["type"] == "video" %>
          <%= video_tag $response["data"][(params[:id].to_i)]["videos"]["standard_resolution"]["url"], :controls => true %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <%= $response["data"][(params[:id].to_i)]["comments"]["count"] %> ... COMMENTS <br><br>
        <% $response["data"][(params[:id].to_i)]["comments"]["data"].each do |user_comment| %>
        <% user = user_comment["from"]["username"] %>
        <% comment = user_comment["text"] %>
        <%= "#{user} : #{comment}" %><br><br>
        <% end %>
      </div>
      <%= render 'form' %>


