<div class="page-header">
  <%= link_to pictures_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Show picture</h1>
</div>

<dl class="dl-horizontal">
  <dt>Instagram User:</dt>
  <dd><%= @picture.instagram_user %></dd>

  <dt>Url Link:</dt>
  <dd><%= @picture.url_link %></dd>

  <dt>Url Caption:</dt>
  <dd><%= @picture.caption %></dd>

  <dt>Media Type:</dt>
  <dd><%= @picture.media_type %></dd>

  <dt>Created:</dt>
  <dd><%= @picture.created_at %></dd>
</dl>
