<body class="unique">
<div class="page-header">
  <%= link_to pictures_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1><%= @picture.instagram_user %></h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <div>Instagram User:</div>
    <dd><%= @picture.instagram_user %></dd>
    <dt>Url Caption:</dt>
    <dd><%= @picture.caption %></dd>
  </div>
</div>

<% if @picture.media_type == 'image' %>
<div class="text-center">
      <% @picture.url_link %><%= image_tag @picture.url_link %>
                </div>
 <% else%> 
  <div class="text-center">
      <% @picture.url_link %><%= video_tag @picture.url_link, controls: true %>
  </div>
<% end %>
</body>
